EXTRACCIÓN DE DATOS</br>
Lectura de archivos

In [90]:
import pandas as pd
import os
import glob
from datetime import datetime
from sqlalchemy import create_engine

In [91]:
path = os.getcwd() + "\\Datasets en bruto\\"
files = glob.glob(path + "/*precios*")

In [92]:
path

'c:\\Users\\HP SUPPORT\\Desktop\\precios\\Datasets en bruto\\'

In [93]:
def read_file(path): 
    """Funcion para leer cada df q vienen en distintos formatos, leer varias hojas de un xlsx """
    for i in path:
        ext = os.path.splitext(i)[-1].lower() #deja solo las extensiones
        if ext=='.xlsx':
            xls = pd.ExcelFile(i)
            sheets=xls.sheet_names
            if len(sheets)==1:
                df=pd.read_excel(i)
                return df
            elif len(sheets)==2:
                df1=pd.read_excel(i,sheet_name=0).assign(semana=sheets[0])
                df2=pd.read_excel(i,sheet_name=1).assign(semana=sheets[1])
                return df1, df2
            else:
                print('Archivo Excel con mas de dos sheets')
        elif ext=='.csv':
            df=pd.read_csv(i,sep=',',encoding='utf-16-le').assign(semana=os.path.basename(i).split('.')[0])
            return df

        elif ext=='.txt':
            df=pd.read_csv(i, sep='|').assign(semana=os.path.basename(i).split('.')[0])
            return df

        elif ext=='.json':
            df=pd.read_json(i).assign(semana=os.path.basename(i).split('.')[0])
            return df

        elif ext=='.parquet':
            df=pd.read_parquet(i)
            return df
        else:
            print("I just can't")

In [94]:
#Lectura de archivo
producto = glob.glob(path + "/producto.parquet")
producto = read_file(producto) #con funcion read_file definida arriba

sucursal = glob.glob(path + "/*sucursal*")
sucursal = pd.read_csv(sucursal[0])

precio13 = glob.glob(path + "/*precios_semana_20200413*")
precio13 = read_file(precio13)

precio03 = glob.glob(path + "/*precios_semana_20200503*")
precio03 = read_file(precio03)

precio18 = glob.glob(path + "/*precios_semana_20200518*")
precio18 = read_file(precio18)

precios19 = pd.read_excel(files[0],sheet_name=1).assign(semana="precios_semanas_20200419")
precios26 = pd.read_excel(files[0], sheet_name=0).assign(semana="precios_semanas_20200426")

Transformación y limpieza de df: producto

In [95]:
#Veamos los nulos
producto.isna().sum()*100/72038

id               0.000000
marca            0.002776
nombre           0.002776
presentacion     0.002776
categoria1      99.994447
categoria2      99.994447
categoria3      99.994447
dtype: float64

In [96]:
#Se eliminaran las columnas categoria ya que no aportan informacion relevante
#inplace=True se usa dependiendo de si queremos hacer cambios al df original o no.
producto.drop(columns=['categoria1','categoria2','categoria3'], inplace=True)
producto.head(1)

              id       marca                           nombre presentacion
0  0000000001663  LA ANÓNIMA  Radicheta Atada La Anonima 1 Un       1.0 un

In [97]:
#normalizando id por producto_id
producto["producto_id"] = producto["id"]
producto.drop(columns=["id"], inplace=True)
producto.columns

Index(['marca', 'nombre', 'presentacion', 'producto_id'], dtype='object')

In [98]:
def nasDups(df):
    """Cosas básicas: remover duplicados y nulos"""#servira para load demas dfs
    df = df.copy()
    df = df.dropna()
    df = df.drop_duplicates()
    return df
producto = nasDups(producto)

In [99]:
def splitProd(df): #elimina el  - para luego darle tipo de dato a float
    """Algunos productos tenian hardcodeada la sucursal. Removemos esa porcion del string y nos quedamos 
       unicamente con el codigo de producto (12-13 char)"""

    df.producto_id = df.producto_id.str.split('-').str[-1]
    return df
producto = splitProd(producto)
producto.drop_duplicates(subset=['producto_id'], inplace=True) #eliminando duplicados en la columna producto.id ya que seran PK

In [100]:
precio13.dtypes

precio         float64
producto_id     object
sucursal_id     object
semana          object
dtype: object

In [101]:
producto.marca=producto.marca.astype("string")
producto.nombre=producto.nombre.astype("string")
producto.presentacion=producto.presentacion.astype("string")
producto.producto_id=producto.producto_id.astype("int64")

In [102]:
producto.dtypes

marca           string
nombre          string
presentacion    string
producto_id      int64
dtype: object

Transformacion y limpieza de datos de df: de sucursal

In [103]:
#normalizando id por sucursal_id
sucursal["sucursal_id"] = sucursal["id"]
sucursal.drop(columns=["id"], inplace=True)
sucursal.columns

Index(['comercioId', 'banderaId', 'banderaDescripcion', 'comercioRazonSocial',
       'provincia', 'localidad', 'direccion', 'lat', 'lng', 'sucursalNombre',
       'sucursalTipo', 'sucursal_id'],
      dtype='object')

In [104]:
sucursal = nasDups(sucursal)

In [105]:
def unDate(df):
    
    def unDateSeries(x):
        """read_excel me trae algunas sucursal_id como si fueran datetime. Esta funcion toma elementos de una serie, 
           chequea si son datetime y en caso de serlo, los convierte a str con el formato acorde al orden de identificadores de sucursal"""
       
        if isinstance(x,datetime):
            x=x.strftime("%#d-%#m-%Y")
        return x

    df.sucursal_id = df.sucursal_id.apply(unDateSeries)
    return df

In [106]:
#transformando: eliminando los 00:00:00 de sucursal_id
def delete00(df):
    if df.sucursal_id.dtype != "str":
            df.sucursal_id = df.sucursal_id.astype('string')
    df['sucursal_id'] = df['sucursal_id'].apply(lambda x: x.split(' ')[0])
    return df

In [107]:
sucursal = delete00(sucursal)

In [108]:
def type_sucu(sucursal):
    sucursal.sucursal_id=sucursal.sucursal_id.astype('string')    
    sucursal.comercioId = sucursal.comercioId.astype(int)
    sucursal.banderaId = sucursal.banderaId.astype(int)
    sucursal.banderaDescripcion = sucursal.banderaDescripcion.astype('string')
    sucursal.comercioRazonSocial = sucursal.comercioRazonSocial.astype('string')
    sucursal.provincia = sucursal.provincia.astype('string')
    sucursal.localidad = sucursal.localidad.astype('string')
    sucursal.direccion = sucursal.direccion.astype('string')
    sucursal.sucursalNombre = sucursal.sucursalNombre.astype('string')
    sucursal.sucursalTipo = sucursal.sucursalTipo.astype('string')
    sucursal.columns = sucursal.columns.str.lower()
    return sucursal
sucursal = type_sucu(sucursal)

In [109]:
sucursal.dtypes

comercioid               int32
banderaid                int32
banderadescripcion      string
comerciorazonsocial     string
provincia               string
localidad               string
direccion               string
lat                    float64
lng                    float64
sucursalnombre          string
sucursaltipo            string
sucursal_id             string
dtype: object

Tranformación, limpieza, normalizacion dataframe: precios

In [110]:
#Aplico la funcion para eliminar nulos y duplicados
precio13 = nasDups(precio13)
precio03 = nasDups(precio03)
precio18 = nasDups(precio18)
precios19 = nasDups(precios19)
precios26 = nasDups(precios26)

In [111]:
#aplicar la funcion para quitar el caracter especial - y tomar solo numeros
precio13 = splitProd(precio13)
precio03 = splitProd(precio03)
precio18 = splitProd(precio18)
precios19 = splitProd(precios19)

In [112]:
#funcion para quitar 00:00:00 y tomar solo los demas numeros correctos
precio13 = delete00(precio13)
precio03 = delete00(precio03)
precio18 = delete00(precio18)
precios19 = delete00(precios19)
precios26 = delete00(precios26)

In [113]:
def caracter(df):
    if df.precio.dtype != "float":
        """Algunos precios llegan con un string vacio en vez de nulo. Los convertimos a None para removerlos despues. 
           A los que tienen valores, los convertimos a float"""
        try:
            df.precio = df.precio.apply(lambda x: None if x == '' else x)
            df.precio = df.precio.astype(float)
        except:
            print("Error type precios")
    return df.dropna()

In [114]:
#Asignación de los tipos de datos de los valores de los dfs: precios
#algunos ya estan solo los q faltan
def type_precios(df):
    df.semana = df.semana.astype("string")
    df.sucursal_id = df.sucursal_id.astype("string")
    df.producto_id = df.producto_id.astype("int64")
    return df

In [115]:
#aplico la funcion anterior
precio13 = caracter(precio13)
precio03 = caracter(precio03)
precio18 = caracter(precio18)
precios19 = caracter(precios19)
precios26 = caracter(precios26)

In [116]:
#asigno el tipo de dato para df: precio
precio13 = type_precios(precio13)
precio03 = type_precios(precio03)
precio18 = type_precios(precio18)
precios19 = type_precios(precios19)
precios26 = type_precios(precios26)

In [117]:
precios26.dtypes

precio         float64
producto_id      int64
sucursal_id     string
semana          string
dtype: object

In [118]:
#juntar los dfs de los todos los precios con concat
precios = pd.concat([precio13, precio03, precio18, precios19, precios26]) 
#aplico los tipos de datos
precios = type_precios(precios)
#dropeo algunos duplicados
precios = precios.drop_duplicates()

In [119]:
precios.dtypes

precio         float64
producto_id      int64
sucursal_id     string
semana          string
dtype: object

In [120]:
precios.duplicated().sum()

0

CARGA DE DATOS

In [121]:
# tabla_producto = 'CREATE TABLE producto (producto_id int NOT NULL, marca text, nombre text, presentacion varchar(10), PRIMARY KEY(producto_id));'
# tabla_sucursal = 'CREATE TABLE sucursal (sucursal_id varchar(12) NOT NULL, comercioid int, banderaid int, banderadescripcion text, comerciorazonsocial text, provincia text, localidad text, direccion text, lat float(20), lng float(20), sucursalnombre text, sucursaltipo text, PRIMARY KEY(sucursal_id));' 
# tabla_precios = 'CREATE TABLE precios (precio float(10), producto_id int, sucursal_id varchar(12), semana varchar(25), FOREIGN KEY(sucursal_id) REFERENCES sucursal(sucursal_id), FOREIGN KEY(producto_id) REFERENCES producto(producto_id));'

In [122]:
!pip install -U sqlalchemy
from sqlalchemy import create_engine
import pymysql
import pandas as pd
#para agregar el conector python mysql a su entorno python.
!pip install mysqlclient
!pip3 install PyMySQL

Requirement already satisfied: sqlalchemy in c:\users\hp support\appdata\local\programs\python\python310\lib\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp support\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.3.post0)
Requirement already satisfied: mysqlclient in c:\users\hp support\appdata\local\programs\python\python310\lib\site-packages (2.1.1)
Requirement already satisfied: PyMySQL in c:\users\hp support\appdata\local\programs\python\python310\lib\site-packages (1.0.2)

In [123]:
# engine = sq.create_engine("mysql+pymysql://admin:password@localhost:3306/preciodb")
user = 'admin'
password = 'password'
host = 'localhost'
port = 3306

engine = create_engine(url="mysql+pymysql://{0}:{1}@{2}:{3}".format(user, password, host, port))
conn = engine.connect()
print('connect successfull')

connect successfull

In [124]:
conn.execute("commit")
conn.execute('create database dbprecio')
conn.execute('use dbprecio')

This is for the load

In [125]:
database = 'dbprecio'

engine1 = create_engine(url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database))
            
conn1 = engine1.connect()
print('connect successfull')

connect successfull

In [126]:
producto.to_sql(name="producto",con=engine1, if_exists='append', index=False, chunksize=200)

67941

In [127]:
sucursal.to_sql(name="sucursal",con=engine1, if_exists='append', index=False, chunksize=200)

2333

In [128]:
precios.to_sql(name="precios",con=engine1, if_exists='append', index=False, chunksize=200)

1383847

In [ ]:
#table producto
conn1.execute('ALTER TABLE producto ADD PRIMARY KEY(producto_id);')

#table sucursal
conn1.execute('ALTER TABLE sucursal MODIFY COLUMN sucursal_id VARCHAR(12);')
conn1.execute('ALTER TABLE sucursal ADD PRIMARY KEY(sucursal_id);')

#table precios
#fk sucursal_id en table precios
conn1.execute('ALTER TABLE precios MODIFY COLUMN sucursal_id VARCHAR(12);')
conn1.execute('SET FOREIGN_KEY_CHECKS = 0;')
conn1.execute('ALTER TABLE precios ADD FOREIGN KEY(sucursal_id) REFERENCES sucursal(sucursal_id);')
conn1.execute('SET FOREIGN_KEY_CHECKS = 1;')
conn1.execute('ALTER TABLE precios MODIFY COLUMN sucursal_id VARCHAR(12);')
#fk producto_id en table precios
conn1.execute('ALTER TABLE precios ADD FOREIGN KEY(producto_id) REFERENCES producto(producto_id);')